<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spinname.gerg.spinnames">

    <uses-sdk
        tools:ignore="GradleOverrides" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/spin_names"
        android:label="Spin Names"
        android:roundIcon="@drawable/spin_names"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".playedActivity"
            android:parentActivityName=".HomeActivity" />
    </application>

</manifest>